# Custom
.vscode
settings*_[0-9][0-9].ini
~$*
pytesting/init
!pytesting/init/init.txt
pytesting/output
!pytesting/output/*/output.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docu/_build/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/test_framework
/cwatm/.idea
*.nc
*.tss
*.xlsx
/.project
/.pydevproject
cwatm/.DS_Store
cwatm/hydrological_modules/.DS_Store
.DS_Store
cwatm/hydrological_modules/routing_reservoirs/.DS_Store
cwatm/management_modules/.DS_Store
